.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    /* align-content: space-between; */
    /* width: 450px; */
}

.flexItem {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    flex: 1 1 150px;
    /* First option is 'flex-grow' second value is 'flex-shrink' Third is 'flex-grow' */
}

.flexItem:nth-child(4) {
    order: 1;
}

.itemSpecial {
    /* flex: 3 1 350px; */
    order: -1;
}